doctype html
html
    head
        title="Contact us"
    body
        include ./header.pug 
        h1 Contact us 
        h2 Contactanos (ES)
        form(action= '/sendForm', method= 'post', class= 'myForm')
            label(for="fname") Name 
            br
            input(type="text", name="fname", placeholder="Enter your name..")
            br
            label(for="femail") Email 
            br
            input(type="email", name="femail", placeholder="Enter your email..")
            br
            label(for="fphone") Phone number 
            br
            input(type="phone", name="fphone", placeholder="Enter your phone..")
            br
            label(for="fdescription") What are you interested in 
            br
            input(type="text", name="fdescription", placeholder="Describe..")
            br
            br
            input(type="submit", name="submit", id="submit", value="Send")

