doctype html
html
    head
        link(rel='stylesheet', href='./css/style.css')
nav 
    div 
        ul
            li
                a(href='/') Home 
            li
                a(href='about') About us 
            li
                a(href='what') What we do 
            li
                a(href='where') Where we are             
            li
                a(href='contact') Contact us 