doctype html
html
    head
        title="Home"
        //- Aqui podriamos añadir un css o scripts necesarios
    body

        include ./header.pug 
        h1  Welcome!
        p Ejercicio de clase 22. Templates con Node.js + Express + Pug
        div     
            img(src="./assets/node-js-736399_960_720-2.png", alt="", srcset="" class ="imgHome")
            img(src="./assets/Screenshot 2021-11-16 at 20.50.04.png", alt="", srcset="" class ="imgHome")

