* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 1rem;
}

    body{
    background: linear-gradient(0deg, rgb(42, 81, 165) 0%, rgb(117, 201, 190) 100%); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

h2{
    font-size: 0.6em;
    color: dimgray;
}

.imgHome{
    max-width: 10%;
    max-height: 10%;
}


